@{
    ViewData["Title"] = "View Project";
}
<head>
    <style>
        .card {
            margin-bottom: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        .card-header {
            background-color: #D7A9B7;
            color: white;
            text-align: center;
        }

        .card-body {
            background-color: #F8F8F8;
            padding: 20px;
        }

        .list-unstyled {
            padding-left: 0;
        }

        .mb-2 {
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Projects
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <strong>Project Name</strong><br>
                            <span>Created: Monday, January 1, 2025</span>
                        </li>
                        <li class="mb-2">
                            <strong>Project Name</strong><br>
                            <span>Created: Monday, January 1, 2025</span>
                        </li>
                        <li class="mb-2">
                            <strong>Project Name</strong><br>
                            <span>Created: Monday, January 1, 2025</span>
                        </li>
                        <li class="mb-2">
                            <strong>Project Name</strong><br>
                            <span>Created: Monday, January 1, 2025</span>
                        </li>
                        <li class="mb-2">
                            <strong>Project Name</strong><br>
                            <span>Created: Monday, January 1, 2025</span>
                        </li>
                        <li class="mb-2">
                            <strong>Project Name</strong><br>
                            <span>Created: Monday, January 1, 2025</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Historical Meeting Minutes
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <strong>Project Name</strong><br>
                            <span>Meeting Name</span><br>
                            <span>Created: Monday, January 1, 2025</span>
                        </li>
                        <li class="mb-2">
                            <strong>Project Name</strong><br>
                            <span>Meeting Name</span><br>
                            <span>Created: Monday, January 1, 2025</span>
                        </li>
                        <li class="mb-2">
                            <strong>Project Name</strong><br>
                            <span>Meeting Name</span><br>
                            <span>Created: Monday, January 1, 2025</span>
                        </li>
                        <li class="mb-2">
                            <strong>Project Name</strong><br>
                            <span>Meeting Name</span><br>
                            <span>Created: Monday, January 1, 2025</span>
                        </li>
                        <li class="mb-2">
                            <strong>Project Name</strong><br>
                            <span>Meeting Name</span><br>
                            <span>Created: Monday, January 1, 2025</span>
                        </li>
                        <li class="mb-2">
                            <strong>Project Name</strong><br>
                            <span>Meeting Name</span><br>
                            <span>Created: Monday, January 1, 2025</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>